name: Flutter CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Flutter App
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.38.4'
        channel: 'stable'

    - name: Create .env file
      run: cp .env.example .env

    - name: Get dependencies
      run: flutter pub get

    - name: Analyze
      run: flutter analyze --no-fatal-warnings --no-fatal-infos
      continue-on-error: true

    - name: Run tests
      run: flutter test

